{% extends "master.twig" %}

{% block extra_headers %}
    <script type="application/javascript" src="/scripts/box-heights.js"></script>
{% endblock %}

{% block main_content %}

    <div id="strapline">
        <div class="wrapper">

            <h2>
               {{ month|capitalize }} {{ year }}
            </h2>

        </div>
    </div>

    <div class="wrapper clearfix inner talk_list">

        {% for key, talk in talks %}
            <div class="pod">
                {% if talk.avatar %}
                    <img class="circle large" src="{{ talk.avatar }}"/>
                {% endif %}

                <h3>{{ talk.title }}</h3>

                <p>{{ talk.speaker }} - {{ month|capitalize }}, {{ year|capitalize }}</p>

                <a class="btn" href="/talks/{{ year }}/{{ month }}/{{ key }}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
                </a>
            </div>

        {% endfor %}
    </div>



{% endblock %}