{% extends "master.twig" %}

{% block extra_headers %}

    <script src="/scripts/popcorn-complete.min.js"></script>

    {% if(errors is empty) %}

        <script>

            // ensure the web page (DOM) has loaded
            document.addEventListener("DOMContentLoaded", function () {

                // Create a popcorn instance by calling the Vimeo player plugin
                var video = Popcorn.vimeo(
                        '#video',
                        '{{ video_url }}');

                {% for key, cue in cues %}

                video.cue( {{cue}}, function(key) {
                    renderPage({{key}});
                });

                {% endfor %}

                // play the video right away
                video.play();

            }, false);

            var url = '{{ pdf_url }}';

        </script>

    {% endif %}

{% endblock %}

{% block main_content %}



    <div id="strapline">
        <div class="wrapper">

            <p>

            </p>

        </div>
    </div>

        {% if(errors is empty) %}

            <div id="media_holder" class="clearfix">

                <div id="video_wrapper">


                    <div id="video"></div>

                    <a id="prev" class="btn" onclick="goPrevious()">Previous Slide</a>
                    <a id="next" class="btn" onclick="goNext()">Next Slide</a>

                </div>

                <div id="canvas_holder">
                    <canvas id="presentation"></canvas>
                </div>
            </div>



        {% else %}

            <h2>Whoops!</h2>
            <h4>This talk could not be displayed for the following reasons</h4>
            <ul>
                {% for error in errors %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>

        {% endif %}




{% endblock %}

{% block extra_scripts %}


    {% if(errors is empty) %}
        <script type="text/javascript" src="/scripts/pdf.js"></script>
        <script src="/scripts/pdf_config.js"></script>
    {% endif %}


{% endblock %}
