{% extends "master.twig" %}

{% block extra_headers %}
    <script type="application/javascript" src="/scripts/box-heights.js"></script>
{% endblock %}

{% block main_content %}
    <div id="strapline">
        <div class="wrapper">

            <p>
                We have had some great speakers from all over the country come and talk to us, and we have more great talks lined up.
            </p>

        </div>
    </div>

    <div class="wrapper clearfix inner talk_list">

        <h2>Talks</h2>

        {% for year, years in talks %}
            {% for month, talks in years %}
                {% for key, talk in talks %}

                    <div class="pod">
                        {% if talk.avatar %}
                            <img class="circle large" src="{{ talk.avatar }}"/>
                        {% endif %}

                        <h3>{{ talk.title }}</h3>

                        <p>{{ talk.speaker }} - {{ month|capitalize }}, {{ year|capitalize }}</p>

                        {% if talks|length > 1 %}
                            <a class="btn" href="/talks/{{ year }}/{{ month }}/{{ key }}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
                            </a>
                        {% else %}
                            <a class="btn" href="/talks/{{ year }}/{{ month }}">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
                            </a>
                        {% endif %}

                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>



{% endblock %}
