{% extends "master.twig" %}

{% block extra_headers %}

    <script src="/scripts/popcorn-complete.min.js"></script>

    {% if(errors is empty) %}

        <script type="application/javascript">

            // ensure the web page (DOM) has loaded
            document.addEventListener("DOMContentLoaded", function () {

                // Create a popcorn instance by calling the Vimeo player plugin
                var video = Popcorn.vimeo(
                        '#video',
                        '{{ video_url }}');

                {% for key, cue in cues %}

                video.cue( {{cue}}, function(key) {
                    renderPage({{key}});
                });

                {% endfor %}

                // play the video right away
                video.play();

            }, false);

            var url = '{{ pdf_url }}';

            $(document).ready(function() {
                {% if not presentation %}
                    $('.abstract').show();
                {% endif %}

                $('.abstractOpen').click(function (e) {
                    $('.abstract').slideDown();
                    $(this).hide();
                    $('.abstractClose').show();
                });

                $('.abstractClose').click(function (e) {
                    $('.abstract').slideUp();
                    $(this).hide();
                    $('.abstractOpen').show();
                }).hide();
            });

        </script>

    {% endif %}

{% endblock %}

{% block main_content %}

    <div id="strapline">
        <div class="wrapper">

            <h2>
                {{ title }} - {{ month|capitalize }} {{ year }}
            </h2>

        </div>
    </div>

    <div class="abstract ">
        <div class="wrapper">
            <div class="bio">
                <img src="{{ avatar }}"/>

                {{ speaker }}
            </div>
            <div class="text">
                {{ abstract|raw }}
            </div>
        </div>
    </div>

    {% if(errors is empty) %}

        <div id="media_holder" class="clearfix">

            <div id="video_wrapper">

                {% if video_url %}
                    <div id="video"></div>
                {% endif %}

                {% if abstract and (presentation or video) %}
                    <a href="#" class="abstractOpen btn notmobile">
                        <span class="glyphicon glyphicon-collapse-down"></span>&nbsp;&nbsp;View abstract
                    </a>
                    <a href="#" class="abstractClose btn notmobile">
                        <span class="glyphicon glyphicon-collapse-up"></span>&nbsp;&nbsp;Hide abstract
                    </a>
                {% endif %}

                {% if presentation %}
                <a class="btn" href="{{ pdf_url }}">
                    <span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download slides
                </a>
                {% endif %}

                {% if feedbackUrl %}
                    <a class="btn" href="{{ feedbackUrl }}">
                        <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Give feedback
                    </a>
                {% endif %}


                {% if resources|length > 0 %}
                    <br/> <br/>
                    <h3>Resources</h3>
                <p>
                    {% for title, url in resources %}
                        <a href="{{ url }}">{{ title }}</a><br/>
                    {% endfor %}
                </p>
                {% endif %}


            </div>
            {% if presentation %}
                <div id="canvas_holder">
                    <canvas id="presentation"></canvas>
                    {% if presentation %}
                        <a id="prev" class="btn notmobile" onclick="goPrevious()">
                            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Previous slide
                        </a>
                        <a id="next" class="btn notmobile" onclick="goNext()">
                            Next slide&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>
                        </a>
                        <br/><br/>
                        {% if cues|length > 0 %}
                            <p class="notmobile">Slides for this talk are synced to the video</p>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>

    {% else %}

        <h2>Whoops!</h2>
        <h4>This talk could not be displayed for the following reasons</h4>
        <ul>
            {% for error in errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}

{% block extra_scripts %}


    {% if(errors is empty) %}
        <script type="text/javascript" src="/scripts/pdf.js"></script>
        <script src="/scripts/pdf_config.js"></script>
    {% endif %}


{% endblock %}
