{% extends "master.twig" %}

{% block extra_headers %}
    <script type="application/javascript" src="/scripts/box-heights.js"></script>
{% endblock %}

{% block main_content %}
    <div id="strapline">
        <div class="wrapper">

            <p>
                We have had some great speakers from all over the country come and talk to us, and we have more great talks lined up.
            </p>

        </div>
    </div>

    <div class="wrapper clearfix inner talk_list">

        <h2>Past Talks</h2>

        {% for year, years in talks %}
            {% for month, talk in years %}

                <div class="pod">
                    {% if talk.avatar %}
                        <img src="{{ talk.avatar }}"/>
                    {% endif %}

                    <h3>{{ talk.title }}</h3>

                    <p>{{ talk.speaker }} - {{ month|capitalize }}, {{ year|capitalize }}</p>

                    <a class="btn" href="/talks/{{ year }}/{{ month }}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
                    </a>

                        {#{% if talk.cues|length > 0 and talk.video %}#}

                            {#<a class="btn" href="/talks/{{ year }}/{{ month }}">Video and Slides</a>#}

                        {#{% elseif talk.cues|length > 0 %}#}

                            {#<a class="btn" href="/talks/{{ year }}/{{ month }}">Slides</a>#}

                        {#{% elseif talk.video %}#}

                            {#<a class="btn" href="/talks/{{ year }}/{{ month }}">Video</a>#}

                        {#{% endif %}#}

                </div>

            {% endfor %}
        {% endfor %}
</div>



{% endblock %}
