{% extends "master.twig" %}

{% block extra_headers %}

    <script src="/scripts/popcorn-complete.min.js"></script>

    {% if(errors is empty) %}

        <script type="application/javascript">

            // ensure the web page (DOM) has loaded
            document.addEventListener("DOMContentLoaded", function () {

                // Create a popcorn instance by calling the Vimeo player plugin
                var video = Popcorn.vimeo(
                        '#video',
                        '{{ video_url }}');

                {% for key, cue in cues %}

                video.cue( {{cue}}, function(key) {
                    renderPage({{key}});
                });

                {% endfor %}

                // play the video right away
                video.play();

            }, false);

            var url = '{{ pdf_url }}';

            $(document).ready(function() {
                {% if not presentation %}
                    $('.abstract').show();
                {% endif %}

                $('.abstractOpen').click(function(e){
                    if($(this).hasClass('visible')){
                        $('.abstract').slideUp();
                        $(this).text('View abstract').removeClass('visible');
                    } else {
                        $('.abstract').slideDown();
                        $(this).text('Hide abstract').addClass('visible');
                    }
                });
            });

        </script>

    {% endif %}

{% endblock %}

{% block main_content %}

    <div id="strapline">
        <div class="wrapper">

            <h2>
                {{ title }} - {{ month|capitalize }} {{ year }}
            </h2>

        </div>
    </div>

    <div class="abstract wrapper">
        <div class="bio">
            <img src="{{ avatar }}"/>

            {{ speaker }}
        </div>
        <div class="text">
            {{ abstract|raw }}
        </div>
    </div>

    {% if(errors is empty) %}

        <div id="media_holder" class="clearfix">

            <div id="video_wrapper">

                {% if video_url %}
                    <div id="video"></div>
                {% endif %}

                {% if abstract and (presentation or video) %}
                <a href="#" class="abstractOpen btn notmobile">View abstract</a>
                {% endif %}

                {% if presentation %}
                <a class="btn" href="{{ pdf_url }}">Download slides</a>
                {% endif %}

                {% if feedbackUrl %}
                    <a class="btn" href="{{ feedbackUrl }}">Give feedback</a>
                {% endif %}

            </div>

            <div id="canvas_holder">
                <canvas id="presentation"></canvas>
                {% if presentation %}
                    <a id="prev" class="btn notmobile" onclick="goPrevious()">&leftarrow; Previous slide</a>
                    <a id="next" class="btn notmobile" onclick="goNext()">Next slide &rightarrow;</a><br/><br/>
                    {%  if cues|length > 0 %}
                        <p class="notmobile">Slides for this talk are synced to the video</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>

    {% else %}

        <h2>Whoops!</h2>
        <h4>This talk could not be displayed for the following reasons</h4>
        <ul>
            {% for error in errors %}
                <li>
                    {{ error }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}

{% block extra_scripts %}


    {% if(errors is empty) %}
        <script type="text/javascript" src="/scripts/pdf.js"></script>
        <script src="/scripts/pdf_config.js"></script>
    {% endif %}


{% endblock %}
