<div class="col-{{ colwidth }}">
    <div class="inner clearfix">
        <div class="image">
            <img alt="{{ talk.speaker }}'s avatar" class="circle large" src="{{ talk.avatar }}"/>
        </div>

        <div class="info">
            {% if talk.date|date('Ymd') == currentDate|date('Ymd') %}

              <h3>TONIGHT</h3>

            {% else %}

              <h3>Upcoming Talk</h3>

            {% endif %}

            <h4><a href="https://twitter.com/{{ talk.twitter }}">{{ talk.speaker }}</a></h4>

            {{ talk.title }}
            <br/>

            {{ talk.date|date("jS F Y") }}

            <br/><br/>
            <a class="btn" href="{{ talk.ticketLink }}">
                <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;&nbsp;Sign up for free
            </a>

            {% if talks|length > 1 %}
              <a class="btn" href="/talks/{{ talk.year }}/{{ talk.month }}/{{ key }}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
              </a>
            {% else %}
              <a class="btn" href="/talks/{{ talk.year }}/{{ talk.month }}">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View this talk
              </a>
            {% endif %}
        </div>
    </div>
</div>
